{% extends 'base.html' %}

{% block title %}Home{% endblock title %}
{% block body %}
    <h2 class="text-center">About Us</h2>
    <div class="container my-3">
        <div class="p-3 mb-3 bg-dark text-white">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur quod sapiente accusantium vel quam labore assumenda, a ratione pariatur nemo et sint harum placeat commodi possimus doloribus molestias rem esse?
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card text-center">
                    <img src="https://i.pinimg.com/originals/8b/16/7a/8b167af653c2399dd93b952a48740620.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">Hrujul Thumar</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <div class="card-footer">
                        <a href="https://www.linkedin.com/in/hrujul-thumar-b81662183/">LinkedIn</a>
                        <a href="mailto:18BCE077@nirmauni.ac.in">Mail</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center">
                    <img src="https://i.pinimg.com/originals/8b/16/7a/8b167af653c2399dd93b952a48740620.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4>Gaurav Vaghasiya</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <div class="card-footer">
                        <a href="https://www.linkedin.com/in/gvaghasiya02/">LinkedIn</a>
                        <a href="mailto:18BCE070@nirmauni.ac.in">Mail</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center">
                    <img src="https://i.pinimg.com/originals/8b/16/7a/8b167af653c2399dd93b952a48740620.jpg" class="card-img-top rounded" alt="...">
                    <div class="card-body">
                        <h4>Gaurav Parekhiya</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <div class="card-footer">
                        <a href="https://www.linkedin.com/in/gaurav-parekhiya-5b460a184/">LinkedIn</a>
                        <a href="mailto:18BCE071@nirmauni.ac.in">Mail</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
{% endblock body %}