{% extends 'base.html' %}
{% block activeAbout %}active{% endblock activeAbout %}active
{% block title %}Home{% endblock title %}
{% block body %}
    <h2 class="text-center">About Us</h2>
    <div class="container my-3">
        <div class="p-3 mb-3 bg-dark text-white text-center">
            <b>Innovative Assignment<br>
            App Development Frameworks<br>
            Nirma University<br></b>
            Submitted To:<br>
            <b>Prof. Dvijesh Bhatt & Prof. Daiwat Vyas</b>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card text-center">
                    <img src="https://i.pinimg.com/originals/8b/16/7a/8b167af653c2399dd93b952a48740620.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">18BCE077 Hrujul Thumar</h4>
                        <p class="card-text">Final Year Undergraduate Student<br> 7<sup>th</sup> Sem CSE</p>
                    </div>
                    <div class="card-footer">
                        <a href="https://www.linkedin.com/in/hrujul-thumar-b81662183/">LinkedIn</a>
                        <a href="mailto:18BCE077@nirmauni.ac.in">Mail</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center">
                    <img src="https://i.pinimg.com/originals/8b/16/7a/8b167af653c2399dd93b952a48740620.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4>18BCE070 Gaurav Vaghasiya</h4>
                        <p class="card-text">Final Year Undergraduate Student<br> 7<sup>th</sup> Sem CSE</p>
                    </div>
                    <div class="card-footer">
                        <a href="https://www.linkedin.com/in/gvaghasiya02/">LinkedIn</a>
                        <a href="mailto:18BCE070@nirmauni.ac.in">Mail</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center">
                    <img src="https://i.pinimg.com/originals/8b/16/7a/8b167af653c2399dd93b952a48740620.jpg" class="card-img-top rounded" alt="...">
                    <div class="card-body">
                        <h4>18BCE071 Gaurav Parekhiya</h4>
                        <p class="card-text">Final Year Undergraduate Student<br> 7<sup>th</sup> Sem CSE</p>
                    </div>
                    <div class="card-footer">
                        <a href="https://www.linkedin.com/in/gaurav-parekhiya-5b460a184/">LinkedIn</a>
                        <a href="mailto:18BCE071@nirmauni.ac.in">Mail</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
{% endblock body %}