{% extends 'base.html' %}
{% block activeHome %}active{% endblock activeHome %}
{% block title %}Home{% endblock title %}
{% block body %}
<div class="container my-5 ">
        <h2 class="text-center">Welcome to Savari</h2>
        <p> We all like going together. Savari will help you to connect with other like-minded professionals who are traveling on the same route and same time. Savari helps commuters to start sharing the ride instead of traveling alone. Innovative technology to discover, connect, route match, coordinate and cost-share in a seamless manner. Savari automates end to end process of carpooling & bikepooling and makes pooling safe, comfortable and affordable for the urban commuters</p>
        <h3>Features:</h3>
        <ul>
                <li>Driver Registration</li>
                <li>Passenger Registration</li>
                <li>Login for driver and passenger</li>
                <li>Trip Creation</li>
                <li>Trip booking</li>
                <li>Confirming trip booking</li>
        </ul>
</div>    
{% endblock body %}