{% extends 'base.html' %}
{% block activeHome %}active{% endblock activeHome %}
{% block title %}Home{% endblock title %}
{% block body %}
<div class="container">
        <h2>Welcome to Sawri</h2>
    <div class="row">
        <div class="col-md-6">
            <a href="/driver/">
                <button class="btn btn-primary">Driver</button>
            </a>
        </div>
        <div class="col-md-6">
            <a href="/rides/">
                <button class="btn btn-primary">User</button>
            </a>
        </div>
    </div>
</div>    
{% endblock body %}