{% extends 'base.html' %}
{% block activeHome %}active{% endblock activeHome %}
{% block title %}Home{% endblock title %}
{% block body %}
<div class="container my-5 text-center">
        <h2>Welcome to Sawri</h2>
        <p> We all like going together. Sawari will help you to connect with other like-minded professionals who are traveling on the same route and same time. Sawari helps commuters to start sharing the ride instead of traveling alone. Innovative technology to discover, connect, route match, coordinate and cost-share in a seamless manner. Sawari automates end to end process of carpooling & bikepooling and makes pooling safe, comfortable and affordable for the urban commuters</p>
</div>    
{% endblock body %}