{% extends 'base.html' %}
{% block body %}

    <div class="container my-3 px-5">
        <h3>Driver Home Page</h3>
        <a href="/driver/start" class="btn btn-primary">Start a New Trip
        </a>
        <a href="/driver/request" class="btn btn-primary mx-3">Passenger Requests
        </a>
        {% if not trips %}
            <h5>You have no trips</h5>
        {% else %}
            <h5>Your Trips</h5>
            <table class="table table-striped">
                 <thead>
                    <tr>
                        <th scope="col">Sr. No.</th>
                        <th scope="col">Starting Location</th>
                        <th scope="col">Destiation</th>
                        <th scope="col">Stops</th>
                        <th scope="col">Vacant Seats</th>
                        <th scope="col">Ride Started</th>
                        <th scope="col">actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for trip in trips %}
                        <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>{{trip.Starting_City}}</td>
                        <td>{{trip.Destination_City}}</td>
                        <td>{{trip.Stops}}</td>
                        <td>{{trip.Vacancy}}</td>
                        <td>{{trip.get_TripStatus_display}}</td>
                        <td><a class="btn btn-primary" href="{% url 'driver_ride' trip.id %}">View Detail</a><br>
                        {% if trip.TripStatus == "0" %}
                        <a class="btn btn-primary my-2" href="{% url 'start_ride' trip.id %}">Start Ride</a>
                        <a class="btn btn-primary my-2" href="{% url 'delete_ride' trip.id %}">Cancel Ride</a>
                        {% elif trip.TripStatus == "1" %}
                        <a class="btn btn-primary my-2" href="{% url 'complete_ride' trip.id %}">End the Ride</a>
                        {% endif %}
                        </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock body %}