{% extends 'base.html' %}
{% block headScripts %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock headScripts %}
{% block body %}
    <div class="container my-3 px-5">
        <h2>Start Journey</h2>
        <form method="POST" enctype="multipart/form-data" action="{% url 'driver_start' %}">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">{{form.Starting_City.label}}</label>
                        {{form.Starting_City}}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">{{form.Destination_City.label}}</label>
                        {{form.Destination_City}}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">{{form.Stops.label}}</label>
                        {{form.Stops}}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">{{form.Vehicle_Name.label}}</label>
                        {{form.Vehicle_Name}}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">{{form.Vehicle_Number.label}}</label>
                        {{form.Vehicle_Number}}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">{{form.vehicleimg.label}}</label>
                        {{form.vehicleimg}}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">{{form.Vacancy.label}}</label>
                        {{form.Vacancy}}
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#id_Starting_City').select2();
            $('#id_Destination_City').select2();
        });

    </script>
{% endblock body %}