{% extends 'base.html' %}
{% block title %}Signup{% endblock title %}
{% block body %}
    <div class="container my-3 px-5 ">
        <h2>Sign Up</h2>
        <form method="POST" enctype="multipart/form-data" action="{% url 'register_user' %}">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">{{form.username.label}}</label>
                        {{form.username}}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">{{form.email.label}}</label>
                        {{form.email}}
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">{{form.password1.label}}</label>
                        {{form.password1}}
                        <div id="emailHelp" class="form-text">{{form.password1.help_text}}</div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">{{form.password2.label}}</label>
                        {{form.password2}}
                        <div id="emailHelp" class="form-text">{{form.password2.help_text}}</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">{{form.first_name.label}}</label>
                        {{form.first_name}}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">{{form.last_name.label}}</label>
                        {{form.last_name}}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">{{form.profilepic.label}}</label>
                        {{form.profilepic}}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">{{form.dob.label}}</label>
                        {{form.dob}}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">{{form.mobile.label}}</label>
                        {{form.mobile}}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Select Your Role</label>
                        <select class="form-select" aria-label="Role" name="role"> 
                            <option value="Driver">Driver</option>
                            <option value="Passenger">Passenger</option>
                          </select>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock body %}