{% extends 'base.html' %}
{% block body %}
        <div class="container py-5 col-md-9">
            <div class="card mb-3 shadow" style="max-width: 1000px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="{{ trip.vehicleimg.url }}" class="card-img" alt="Vehicle Image">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                    <p class="card-title">
                        <b>From: </b>{{trip.Starting_City}} ---> <b>To:</b> {{trip.Destination_City}}<br>
                        <b>Stops in Route:</b> {{trip.Stops}}<br>
                        <b>Name of Vehicle:</b> {{trip.Vehicle_Name}}<br>
                        <b>Vehicle Number:</b> {{trip.Vehicle_Number}}<br>
                        <b>Seats Available:</b> {{trip.Vacancy}}<br>
                        <b>TripStatus:</b> {{trip.get_TripStatus_display}}<br>
                    </p>
                    </div>
                  </div>
                </div>
            </div>
            <div class="card mb-3 shadow" style="max-width: 1000px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="{{ trip.Driver.profilepic.url }}" class="card-img" height=250 alt="Vehicle Image">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <p class="card-title"><b>User Name :</b> {{trip.Driver.username}}<br>
                        <b>Name :</b> {{trip.Driver.first_name}} {{trip.Driver.last_name}}<br>
                        <b>Mobile Number :</b> {{trip.Driver.mobile}}</p>
                    </div>
                  </div>
                </div>
            </div>

        <h2>Seat Selection</h2>
        <form method="POST" action="{% url 'confirm_ride' trip.id %}">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">{{form.noOfSeatsBooked.label}}</label>
                        {{form.noOfSeatsBooked}}
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        </div>
        
{% endblock body %}