{% extends 'base.html' %}
{% block passengerHome %}active{% endblock passengerHome %}
{% block body %}
    <div class="container my-3 px-5">
        <h3>Passenger Home Page</h3>
        <a href="{% url 'book_ride' %}">
            <button class="btn btn-primary">Book a Ride</button>
        </a>
        {% if not myTrips %}
            <h5>You have no trips</h5>
        {% else %}
            <h5>Your Trips</h5>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Sr. No.</th>
                        <th scope="col">Starting Location</th>
                        <th scope="col">Destiation</th>
                        <th scope="col">Stops</th>
                        <th scope="col">Vacant Seats</th>
                        <th scope="col">Your Booked Seats</th>
                        <th scope="col">Request Status</th>
                        <th scope="col">Ride Started</th>
                    </tr>
                </thead>
                <tbody>
                    {% for trip in myTrips %}
                        <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>{{trip.trip.Starting_City}}</td>
                        <td>{{trip.trip.Destination_City}}</td>
                        <td>{{trip.trip.Stops}}</td>
                        <td>{{trip.trip.Vacancy}}</td>
                        <td>{{trip.noOfSeatsBooked}}</td>
                        <td>{{trip.get_requestStatus_display}}</td>
                        <td>{{trip.trip.get_TripStatus_display}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock body %}